/* Stylisez vos champs de formulaire comme vous le souhaitez */
.form-field {
    margin-bottom: 10px;
}

/* Exemple de style pour les champs de formulaire */
.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}
