{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Numbers</title>
    <link rel="stylesheet"  href="{%static 'css/style.css'%}">
</head>
<body>
    <h2>Add Numbers</h2>
    <!--  hna utilisina method post pour requperer les deux valeurs 
        et envoyer par nom 'n_add_numbers' a views 'v_add_numbers' -->
        
    <form method="post" action="{% url 'n_add_numbers' %}">
        {% csrf_token %}
        <label for="num1">Number 1:</label>
        <input type="number" name="num1" required>
        <br>
        <label for="num2">Number 2:</label>
        <input type="number" name="num2" required>
        <br>
        <button type="submit">Add</button>
    </form>
    {% if result %}
        <p>Sum: {{ result }}</p>
    {% endif %}
</body>
</html>
